@keyframes blink {
  from {
    background-color: tomato;
  }
  to {
    background-color: cyan;
  }
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTitle {
  font-size: 60px;
  color: #444;
}

.box {
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: blink 400ms ease-in infinite;
}